#player-show
  .row
    .col-md-4
    .col-md-4
      .row
        %h2.text-center
          = "#{@player.first_name}" + " " + "#{@player.last_name}"


  .row.p-t-20
    .team-table
      %table.table.table-striped.p-t-20
        %thead
          %th Name
          %th Bowling Type
          %th Bowling Hand
          %th Batting Hand
          %th Is Keeper
          %tbody
            %td
              = @player.first_name + " " + @player.last_name
            %td
              %a{href: bowling_type_players_path(@player.bowling_type)}
                = @player.bowling_type
            %td
              %a{href: bowling_hand_players_path(@player.bowling_hand)}
                = @player.bowling_hand
            %td
              %a{href: batting_hand_players_path(@player.batting_hand)}
                = @player.batting_hand
            %td
              - if @player.keeper
                %a{href: keepers_players_path('keeper')}
                  = "Keeper"
              - else
                %a{href: keepers_players_path('not_keeper')}
                  = "Not a Keeper"
