#player-show
  .row
    .col-md-4
    .col-md-4
      .row
        %h2.text-center
          = "#{@player.first_name}" + " " + "#{@player.last_name}"
        .text-center
          = "Bowling Style: "
          - bowling_type = @player.bowling_type
          %a{href: bowling_type_players_path(bowling_type)}
            = bowling_type
      .row
        .text-center
          = "Batting Hand: "
          - batting_hand = @player.batting_hand
          %a{href: batting_hand_players_path(batting_hand)}
            = batting_hand
      .row
        .text-center
          = "Bowling Hand: "
          - bowling_hand = @player.bowling_hand
          %a{href: bowling_hand_players_path(bowling_hand)}
            = bowling_hand
      - if @player.keeper
        .row
          .text-center
            %a{href: keepers_players_path(bowling_hand)}
              = "Keeper Batsmen"
      .row
        .text-center
          = "Teams played for: "
          - @player.teams.each do |team|
            %a{href: team_path(team.id)}
              = " | " + "#{team.name}" + " "

